In [80]:
s=" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
s

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [10]:
# Consider the above text as a string, figure out the average length of the string.
l=s.split()
l1=[len(a) for a in l]
print("Average word length of the string: ",sum(l1)/len(l1))

Average word length of the string:  4.2063492063492065

In [11]:
#Lower the text in the string.
s.lower()

' i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [15]:
#Try to get the clean text removing the punctuation from the string.
''.join(a for a in s if(a.isalpha() or a== ' '))

' I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [20]:
#Extract word "Data Science" from the string.
s[s.find("Data Science"):s.find("Data Science")+len("Data Science"):]

'Data Science'

In [26]:
#Find the frequency of words used in the string.
l = s.lower().split()
l1=list(set(l))
l2=[(a,l.count(a)) for a in l1]
l2

[('come', 1),
 ('around', 1),
 ('i', 3),
 ('very', 1),
 ('sure', 1),
 ('the', 2),
 ('confused,', 1),
 ('good', 1),
 ('am', 1),
 ('are', 1),
 ('to', 3),
 ('from', 1),
 ('where', 1),
 ('which', 1),
 ('in', 3),
 ('it', 1),
 ('again', 1),
 ('thousands', 1),
 ('start.', 1),
 ('throws', 1),
 ('such', 1),
 ('keen', 1),
 ('but', 1),
 ('few', 1),
 ('not', 1),
 ('a', 1),
 ('same', 1),
 ('mind', 1),
 ('provided', 1),
 ('were', 1),
 ('qualms', 1),
 ('me', 3),
 ('others', 1),
 ('up', 1),
 ('make', 1),
 ('remove', 1),
 ('science,', 1),
 ('platform', 1),
 ('search', 1),
 ('page.', 1),
 ('articles,', 1),
 ('all', 1),
 ('supervised', 1),
 ('building', 1),
 ('my', 2),
 ('career', 1),
 ('wrangling', 1),
 ('if', 1),
 ('of', 1),
 ('web', 1),
 ('has', 1),
 ('data', 1),
 ('relevant', 1)]

In [27]:
#Fetch the duplicate pairs used in the string.
# Not understood the question!!!!

In [28]:
#Can you change the word "Supervised" to "Unsupervised" in the string
s.replace("Supervised","Unsupervised")

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [29]:
s.split('.')

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [32]:
#Find the words from the string which ends with "e"
[a for a in s.split() if(a.endswith("e"))]

['sure',
 'where',
 'the',
 'me',
 'are',
 'make',
 'me',
 'come',
 'the',
 'same',
 'me',
 'remove',
 'were']

In [33]:
#Figure out number of a's used in the string.
len([a for a in s if(a=='a')])

22

In [96]:
#Questions on Dictionary
#In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.
#Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

dict={
    'apple':0.250,
    'sugar':0.500,
    'rice':2.5,
    'milk':2.5,
    'egg':1
}
dict

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1}

In [97]:
#I forgot to mention another item, 1kg of atta packet. Can you also add it ?
dict['atta']=1
dict

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1, 'atta': 1}

In [98]:
#Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?
dict['rice'] = 1
dict

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'egg': 1, 'atta': 1}

In [99]:
#Can you list out all these items using a loop.
for k in dict.items():
    print(k)

('apple', 0.25)
('sugar', 0.5)
('rice', 1)
('milk', 2.5)
('egg', 1)
('atta', 1)

In [100]:
#However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 
#1 dozen of egg is Rs. 60.
#Create another dictionary for pricing.

#Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !
dict_price={
    'apple':220,
    'sugar':43,
    'rice':45,
    'milk':30,
    'egg':60
}
billamount = 0
for k in dict.keys():
    billamount += dict[k]*dict_price[k]
billamount

KeyError: 'atta'

In [101]:
########### Questions on List
#Listed are the top AI companies in the world
AI_companies=['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','SenseTime']
#Sort the list in ascending order
for i in range(len(AI_companies)):
    for j in range(len(AI_companies)):
        if(AI_companies[i] < AI_companies[j]):
            x=AI_companies[i]
            AI_companies[i]=AI_companies[j]
            AI_companies[j]=x
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [102]:
#Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list
AI_companies.extend(['Nvidia', 'OpenAI' , 'Qualcomm', 'Reliance'])
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

In [103]:
#Lower the list using List comprehension
[a.lower() for a in AI_companies]

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm',
 'reliance']

In [104]:
#Elimiate 'Reliance' from the list
AI_companies.remove('Reliance')
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [105]:
#Extract 'Facebook', 'Google' and 'Microsoft' using a single command
[a for a in AI_companies if a in ['Facebook', 'Google', 'Microsoft']]

['Facebook', 'Google', 'Microsoft']

In [106]:
#Questions on Tuple
#(a)Consider the above standard price problem statement and place the prices in the form of the tuple.
t=tuple(dict_price.values())
t

(220, 43, 45, 30, 60)

In [107]:
#(b)Find out the min and max price among them.
print(min(t), max(t))

30 220

In [108]:
#(c)Also, convert the above "AI_companies" list to a tuple.
AI_tuple = tuple(AI_companies)
AI_tuple

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

In [115]:
#(d)Combine two above tuples to a single tuple.
new_t=list(AI_tuple)
new_t.extend(t)
tuple(new_t)
#[str(a) for a in t]

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 220,
 43,
 45,
 30,
 60)

In [116]:
#(e)Compare the length of two tuples.
print(len(AI_tuple),len(t))

10 5